
python-telegram-bot[webhooks]==22.4
fastapi==0.117.1
pydantic==2.11.9
psycopg2-binary==2.9.10
gunicorn==23.0.0
gevent==25.9.1
httpx==0.28.1
httpcore==1.0.9
anyio==4.10.0
typing-extensions==4.15.0
certifi==2025.8.3
python-dotenv==1.1.1
